# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Raw Visium outputs (keep only processed)
data/**/outs/
data/raw/

# Ignore everything else in data EXCEPT processed
!data/processed/


# Large AnnData intermediates if needed
*.h5ad

# Logs
*.log
